.textField-text-color-5b1700{
    -fx-text-fill: #5b1700;
}

.passwordField-text-color-5b1700{
    -fx-text-fill: #5b1700;
}
.button-background-color-transparent{
    -fx-background-color: transparent;
}